# Pesky OS metadata files that we don't need
.DS_Store
Thumbs.db

# Hidden Vagrant folder
.vagrant/

# Log files
*.log
ubuntu-bionic-18.04-cloudimg-console.log
ubuntu-bionic-18.04-cloudimg-console.log
